.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
*.iml
.vscode/
build/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Runner/GeneratedPluginRegistrant.swift
android/key.properties
*.lock